body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#disconected p {
	color: red;
}

#connected p {
	color: green;
}

.hide {
	display: none;
}
